<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.UserMapper">  
 	<select id="getUserList" resultType="com.board.users.domain.UserDTO">
 		SELECT USERID,
 		 			 PASSWD,
 		 			 USERNAME, 
 		 			 EMAIL,
 		 		   UPOINT,
			 		 CASE
			 		 	 WHEN UPOINT BETWEEN 0      AND 50000      THEN '새싹회원'
			 			 WHEN UPOINT BETWEEN 50000  AND 100000     THEN '나무회원'
			 			 WHEN UPOINT BETWEEN 100000 AND 9999999999 THEN '숲회원'
			 		 END AS MEMLEVEL,
			     TO_CHAR(INDATE, 'YYYY-MM-DD DY') INDATE
		FROM TUSER
		ORDER BY INDATE ASC
 	</select>

	<insert id="insertUser">
		INSERT INTO TUSER(USERID, PASSWD, USERNAME, EMAIL)
		VALUES(#{userid},#{passwd},#{username},#{email})
	</insert>
 		
 	<delete id="deleteUser">
 		DELETE FROM TUSER
 		WHERE USERID = #{userid} 
 	</delete>
 	
 	<select id="getUser">
 		SELECT * FROM TUSER
 		WHERE USERID = #{userid}
 	</select>
 	
 	<update id="updateUser">
 		UPDATE TUSER
 		SET PASSWD = #{passwd},
 			  USERNAME = #{username},
 			  EMAIL = #{email}
 		WHERE USERID = #{userid}
 		
 	</update>
</mapper>

